---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import MainInfo from "../components/MainInfo.astro";
import Technologies from "../components/Technologies.astro";
import TagIcon from "../components/icons/Tag.astro";
import Experience from "../components/Experiencie.astro";
import JobIcon from "../components/icons/Job.astro";
import Projects from "../components/Projects.astro";
import ProjectIcon from "../components/icons/Project.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="David Chugden">
  <main
    class="max-w-4xl mx-auto mt-[124px] px-8 lg:px-0 overflow-x-hidden md:overflow-x-visible"
  >
    <section
      id="sobreMi"
      class="relative before:content-[''] before:absolute before:w-[338px] before:h-[326px] before:bg-gradient-radial before:from-[#94d7df] dark:before:from-primary-700/30 before:to-transparent before:rounded-full before:blur-2xl before:-z-[1] before:-bottom-[35px] before:left-[252px] before:animate-pulse before:animate-infinite before:animate-duration-[3000ms] after:content-[''] after:absolute after:w-[338px] after:h-[326px] after:bg-gradient-radial after:from-[#94d7df] dark:after:from-primary-700/30 after:to-transparent after:rounded-full after:blur-2xl after:-z-[1] after:top-0 after:right-[300px] after:animate-pulse after:animate-infinite after:animate-duration-[3000ms]"
    >
      <MainInfo />
    </section>
    <Section title="Tecnologías">
      <div slot="icon">
        <TagIcon class="size-8" />
      </div>
      <div slot="content">
        <Technologies />
      </div>
    </Section>
    <Section
      id="experiencia"
      title="Experiencia laboral"
      class="relative before:content-[''] before:absolute before:w-[338px] before:h-[326px] before:bg-gradient-radial before:from-[#94d7df] dark:before:from-primary-700/30 before:to-transparent before:rounded-full before:blur-2xl before:-z-[1] before:top-[90px] before:-left-[110px] before:animate-pulse before:animate-infinite before:animate-duration-[3000ms] before:animate-delay-300"
    >
      <div slot="icon">
        <JobIcon class="size-8" />
      </div>
      <div slot="content">
        <Experience />
      </div>
    </Section>
    <Section
      id="proyectos"
      title="Proyectos realizados"
      class="relative before:content-[''] before:absolute before:w-[646px] before:h-[623px] before:bg-gradient-radial before:from-[#94d7df] dark:before:from-primary-700/30 before:to-transparent before:rounded-full before:blur-2xl before:-z-[1]"
    >
      <div slot="icon">
        <ProjectIcon class="size-8" />
      </div>
      <div slot="content">
        <Projects />
      </div>
    </Section>
    <Footer />
  </main>
</Layout>
