---
const { title, className } = Astro.props;
---

<div
  class="bg-white dark:bg-[rgb(10,10,10)] border border-gray-200 dark:border-[#333] px-4 py-2 rounded-full flex items-center gap-2 transition text-shadow max-w-fit justify-center"
>
  <div class={`${className} flex-shrink-0 text-gray-700 dark:text-gray-200`}>
    <slot />
  </div>
  <span
    class="font-medium text-gray-700 dark:text-gray-200 leading-none text-xs"
    >{title}</span
  >
</div>
