<footer class="pt-28 pb-8 opacity-80 text-sm">
  <div class="max-w-5xl mx-auto">
    <div class="flex gap-8 flex-col-reverse md:flex-row justify-between items-center">
      <p>© 2024 David Chugden. Todos los derechos reservados.</p>
      <ul class="flex items-center gap-7">
        <li><a href="#sobreMi">Sobre Mi</a></li>
        <li><a href="#experiencia">Experiencia</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="mailto:hola@davidchugden.com">Contacto</a></li>
      </ul>
    </div>
  </div>
 </footer>
