---
import ProjectItem from "./ProjectItem.astro";

import imageDumaco from "../images/dumaco.webp";
import imageDelValle from "../images/delvallepropiedades.webp";
import imageClinicaPalomino from "../images/clinica-palomino.webp";
import imageRch from "../images/rch-peru.webp";
import imageMancora from "../images/mancora-palm-beach.webp";
import imageSie from "../images/sie-peru.webp";
import imagekonnect from "../images/konnecton.webp";
import imageCpiGas from "../images/cpi-gas.webp";
import imageAndeanConsultores from "../images/andean-consultores.webp";
import imageBigBag from "../images/bigbag-peru.webp";
import imageCarbajal from "../images/carbajal-group.webp";
import imageMyrProveedores from "../images/myrproveedores.webp";
import imageHappyToy from "../images/happytoy.webp";
import imageCorporacionMesta from "../images/corporacion-mesta.webp";
import imageMapa19 from "../images/mapa19.webp";
import imageMeggamusic from "../images/meggamusic.webp";
import imageVolt from "../images/volt-oficial.webp";
import imageOHM from "../images/ohm-ingenieros.webp";
import imageHowo from "../images/howo.webp";
import imageAladi from "../images/aladi-proyectos-integrales.webp";
import imageAndesti from "../images/andesti.webp";
import imageSumaq from "../images/sumaq.webp";
import imageDumacoInsurtech from "../images/dumaco-insurtech.webp";

import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Astros from "./icons/Astros.astro";
import Tailwind from "./icons/Tailwind.astro";
import Bulma from "./icons/Bulma.astro";
import ThreeJS from "./icons/ThreeJS.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import JavaScript from "./icons/Javascript.astro";
import Alpine from "./icons/Alpinejs.astro";
import Php from "./icons/Php.astro";
import Laravel from "./icons/Laravel.astro";
import Livewire from "./icons/Livewire.astro";
import Mysql from "./icons/Mysql.astro";
import Git from "./icons/Git.astro";
import Figma from "./icons/Figma.astro";
import JQuery from "./icons/Jquery.astro";
import Foundation from "./icons/Foundation.astro";

const PROJECTS = [
  {
    title: "Volt",
    description:
      "VOLT es la marca de energizantes que te ayuda a desafiar el día a día, incrementando tu rendimiento. Activa todo el potencial para sacar lo mejor de ti.",
    href: "https://volt-oficial.com/",
    image: imageVolt,
    technologies: [
      {
        name: "Astro",
        icon: Astros,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "ThreeJS",
        icon: ThreeJS,
      },
    ],
  },
  {
    title: "OHM Ingenieros",
    description:
      "Empresa cajamarquina con más de 7 años de experiencia en sistemas tecnológicos (Seguridad Electrónica, TICS, Sistemas Eléctricos y otros).",
    href: "https://ohmingenieros.com/",
    image: imageOHM,
    technologies: [
      {
        name: "Laravel",
        icon: Laravel,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "Livewire",
        icon: Livewire,
      },
    ],
  },
  {
    title: "Sumaq Hotel",
    description:
      "Sumaq Cusco Hotel es un alojamiento de 3 estrellas situado en Cuzco..",
    href: "https://sumaq.com.pe/",
    image: imageSumaq,
    technologies: [
      {
        name: "Astro",
        icon: Astros,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
    ],
  },
  {
    title: "Howo",
    description:
      "Empresa 100% peruana en el sector transporte, como importadores y comercializadores de camiones pesados y livianos.",
    href: "https://howo.pe/",
    image: imageHowo,
    technologies: [
      {
        name: "Laravel",
        icon: Laravel,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "Livewire",
        icon: Livewire,
      },
    ],
  },
  {
    title: "Aladi proyectos integrales",
    description:
      "Empresa dedicada a todo tipo de reformas para tu hogar y comunidad.",
    href: "https://aladiproyectosintegrales.com/",
    image: imageAladi,
    technologies: [
      {
        name: "Laravel",
        icon: Laravel,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "Livewire",
        icon: Livewire,
      },
    ],
  },
  {
    title: "Dumaco Insurtech",
    description:
      "Empresa encargada al Desarrollo de software personalizado de sistemas de TI",
    href: "https://dumacoinsurtech.com/",
    image: imageDumacoInsurtech,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
    ],
  },
  {
    title: "Dumaco",
    description:
      "Empresa que se dedica a brindar soluciones tecnológicas para el desarrollo empresarial.",
    href: "https://dumaco.net/",
    image: imageDumaco,
    technologies: [
      {
        name: "Laravel",
        icon: Laravel,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "Livewire",
        icon: Livewire,
      },
    ],
  },
  {
    title: "Del Valle Propiedades",
    description:
      "Empresa que se dedica a brindar soluciones inmobiliarias para el desarrollo empresarial.",
    href: "https://www.delvallepropiedades.com/",
    image: imageDelValle,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "Bootstrap",
        icon: Bootstrap,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Clínica Palomino",
    description:
      "Empresa que ofrece servicios médicos ocupacionales y asistenciales de calidad.",
    href: "https://clinicapalomino.com/",
    image: imageClinicaPalomino,
    technologies: [
      {
        name: "Laravel",
        icon: Laravel,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "Livewire",
        icon: Livewire,
      },
    ],
  },
  {
    title: "RCH Perú",
    description:
      "Empresa que provee repuestos para maquinaria pesada de marcas como Komatsu, Caterpillar, Bomag y John Deere.",
    href: "https://www.rchperu.com/",
    image: imageRch,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Máncora Palm Beach",
    description:
      "Proyecto de habilitación urbana con un concepto campestre, ubicado en la playa de Máncora, en el norte de Perú.",
    href: "https://www.mancorapalmbeach.com/",
    image: imageMancora,
    technologies: [
      {
        name: "Astro",
        icon: Astros,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
    ],
  },
  {
    title: "Sie Perú",
    description:
      "Empresa que se dedica a brindar soluciones tecnológicas en el área de electricidad, mecánica y automatización.",
    href: "https://www.sieperueirl.com/",
    image: imageSie,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Konnect On",
    description:
      "Herramienta integral, dinámica y flexible que ofrece Dumaco para facilitar el trabajo de los brokers de seguros.",
    href: "https://dumaco.net/konnecton/",
    image: imagekonnect,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
    ],
  },
  {
    title: "CPI Gas Technology",
    description:
      "Empresa que ofrece mantenimiento, confiabilidad y gestión de activos para equipos de compresión y descompresión de gas natural.",
    href: "https://cpigastechnology.com/",
    image: imageCpiGas,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Andean Consultores",
    description:
      "Empresa que ofrece servicios de contabilidad y asesoría de empresas a nivel nacional.",
    href: "https://www.andeanconsultores.com/",
    image: imageAndeanConsultores,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "BigBag Perú",
    description:
      "Empresa que fabrica y vende sacos de polipropileno para el transporte y almacenamiento de productos a granel.",
    href: "https://www.bigbagperu.com/",
    image: imageBigBag,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "BulmaCSS",
        icon: Bulma,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Carbajal Group",
    description:
      "Empresa que ofrece soluciones en diferentes áreas, como limpieza, ferretería, eléctrica y protección personal.",
    href: "https://www.carbajalgroup.org/",
    image: imageCarbajal,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
    ],
  },
  {
    title: "MyR Proveedores",
    description:
      "Empresa que vende equipos de protección personal (EPP) para diferentes sectores industriales.",
    href: "https://myrproveedores.com/",
    image: imageMyrProveedores,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "HappyToy",
    description:
      "Empresa que se dedica a la importación y comercialización de juegos, juguetes y artículos de camping infantiles en toda su variedad.",
    href: "https://happytoy.com.pe/",
    image: imageHappyToy,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "TailwindCSS",
        icon: Tailwind,
      },
      {
        name: "AlpineJS",
        icon: Alpine,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Corporación Mesta",
    description:
      "Empresa que ofrece servicios legales a personas o empresas, mediante un equipo de abogados especializados en diferentes áreas del derecho.",
    href: "https://corporacionmesta.com/mestaabogados/",
    image: imageCorporacionMesta,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "Bootstrap",
        icon: Bootstrap,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Andesti",
    description:
      "Empresa importadora y distribuidora de productos tecnológicos",
    href: "https://andesti.com/",
    image: imageAndesti,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "Bootstrap",
        icon: Bootstrap,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Mapa 19",
    description:
      "Proyecto que tuvo como objetivo conectar a las familias vulnerables del Perú con personas que querían ayudarlas durante la pandemia del COVID-19.",
    href: "https://www.mapa19.pe/",
    image: imageMapa19,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "FoundationCSS",
        icon: Foundation,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
  {
    title: "Meggamusic",
    description: "Tienda online dedicada a la venta de equipos de cómputo.",
    href: "https://www.meggamusicperu.com/",
    image: imageMeggamusic,
    technologies: [
      {
        name: "PHP",
        icon: Php,
      },
      {
        name: "FoundationCSS",
        icon: Foundation,
      },
      {
        name: "JQuery",
        icon: JQuery,
      },
    ],
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-5">
  <ProjectItem data={PROJECTS} />
</div>
