<a
  {...Astro.props}
  href="https://github.com/dachugden"
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="transform hover:-translate-y-0.5 transition-all duration-300"
>
  <slot />
</a>
