---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" x-data="{scrollTop: false}" x-cloak class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
    </script>
    <script is:inline>
      document.addEventListener(
        "astro:page-load",
        () => {
          gtag("js", new Date());
          gtag("config", "G-TJ6NEBLRNV");
        },
        { once: false }
      );
    </script>
  </head>
  <body
    class="h-screen dark:bg-black text-black dark:text-white font-onest text-base antialiased"
    @scroll.window="scrollTop = (window.pageYOffset > 50) ? true : false;"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  [x-cloak] {
    display: none;
  }
  /* html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	} */
</style>
